<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300;1,600&family=Raleway:wght@300;400;700&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/50fa450a40.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>MercadoLiebre | Register</title>
  </head>
  <body>
    <header class="header">
      <div class="header__logo">
        <img src="/images/logo-mercado-liebre.svg" alt="" />
        <div class="header__logo__search">
          <input type="text" placeholder="Buscar productos, marcas..." />
          <button type="submit">
            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
        <p>
          <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
          tarjeta de crédito
        </p>
      </div>
      <nav class="header__logo--navbar">
        <ul>
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>
        <ul>
          <li>
            <a href="/register"
              >Creá tu cuenta<i class="fa-solid fa-id-card"></i
            ></a>
          </li>
          <li>
            <a href="/login"
              >Ingresá<i class="fa-solid fa-arrow-up-right-from-square"></i
            ></a>
          </li>
          <li>
            <a href=""
              >Mis compras<i class="fa-sharp fa-solid fa-bag-shopping"></i
            ></a>
          </li>
        </ul>
      </nav>
      <button class="burger-menu">
        <i class="fas fa-bars"></i>
      </button>
    </header>
    <main class="register__main">
      <section class="register__main__section">
        <form action="" class="register__main__section__form">
          <div class="form__box">
            <label for="name and surname">Nombre y apellido</label>
            <input type="text" name="" id="name and surname" />
          </div>
          <div class="form__box">
            <label for="username">Nombre de usuario</label>
            <input type="text" name="" id="username" />
          </div>
          <div class="form__box">
            <label for="date birthday">Fecha de nacimiento</label>
            <input type="date" name="" id="date birthday" />
          </div>
          <div class="form__box">
            <label for="Domicilio">Domicilio</label>
            <input type="text" name="" id="Domicilio" />
          </div>
          <div class="register__form__box__profile">
            <label for="Comprador" class=>Perfil de usuario</label>
            <div class="register__form__box__flex">
              <input type="radio" name="" id="Comprador" />
              <label for="Comprador" class="register__form__box__option">Comprador</label>
              <input type="radio" name="" id="Vendedor" />
              <label for="Vendedor" class="register__form__box__option">Vendedor</label>
            </div>
          </div>
          <div class="register__form__box">
            <label for="intereses">Intereses</label>
            <div>
              <input type="checkbox" name="" id="electro" />
              <label for="electro">Electro</label>
            </div>
            <div>
              <input type="checkbox" name="" id="moda" />
              <label for="moda">Moda</label>
            </div>
            <div>
              <input type="checkbox" name="" id="moda" />
              <label for="hogar">Hogar</label>
            </div>
            <div>
              <input type="checkbox" name="" id="jugueteria" />
              <label for="jugueteria">Jugueteria</label>
            </div>
            <div>
              <input type="checkbox" name="" id="vida sana" />
              <label for="vida sana">Vida sana</label>
            </div>
          </div>
        </form>
      </section>
    </main>
    <footer class="footer">
      <article class="footer__article">
        <div>
          <i class="fa-solid fa-credit-card"></i>
        </div>
        <h4 class="footer__article--titulo">Pagá con tarjeta o en efectivo</h4>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </article>
      <article class="footer__article">
        <div>
          <i class="fa-solid fa-gift"></i>
        </div>
        <h4 class="footer__article--titulo">Envio gratis desde $2.500</h4>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </article>
      <article class="footer__article">
        <div>
          <i class="fa-sharp fa-solid fa-shield-halved"></i>
        </div>
        <h4 class="footer__article--titulo">Seguridad, de principio a fin</h4>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </article>
      <article class="footer__article">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </article>
    </footer>
  </body>
</html>
