.footer{
    padding: 10px 0;
}

.footer__section__article{
    width: 100%;
}


.footer__section__article div{
    color: var(--colorCeleste);
    font-size: 2.5em;
    margin-bottom: 10px;
}

.footer__section__article div i{
    margin-left: 48%;
    transition: all 500ms;
}

.footer__section__article div i:hover{
    color: var(--colorAzul);
}

.footer__section__article--titulo{
    font-size: 18px;
    text-align: center;
    margin-bottom: -1%;
}

.footer__section__article p{
    text-align: center;
    margin-bottom: 30px;
    padding: 5px 10px;
    font-size: 16px;
}

@media (min-width: 768px) {
    .footer__section__article{
        margin-top: 30px;
    }
    .footer__section__article--titulo{
        padding: 5px;
        margin-bottom: 20px;
    }
}

@media (min-width:1024px) {
    .footer__section{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    .footer__section__article{
        width: 25%;
    }
}