body{
    margin: 0px;
}
header{
    background-color: #EAC926;
}

.header__logo p{
    font-size: 12px;
    text-align: center
}

.header__logo--navbar ul{
    padding: 0px;
}
.header__logo--navbar li{
    list-style: none;
    color: black;
}
.burger-menu{
    width: 45px;
    height: 45px;
    background-color: var(--colorCeleste);
    margin: 0% auto 30px;
    display: block;
    font-size: 25px;
    color: white;
    border: solid 50% var(--colorCeleste);
    border-radius: 10px;
}

