.login__main__section__form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.form__box{
    margin: 15px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.form__box label{
    color: var(--colorGrisOscuro);
}
.form__box input{
    width: 90%;
    border: none;
    border-radius: 7px;
    margin-top: 20px;
    padding: 10px 20px;
}

.form__box button{
    width: 100%;
    border: none;
    border-radius: 7px;
    color: #fff;
    background-color: var(--colorCeleste);
    padding: 10px 20px;
    font-weight: 600;
}

.form__box button:hover{
    background-color: var(--colorAzul);
}

@media (min-width:768px) {
    .form__box button{
        display: block;
        width: 90%;
        margin: auto;
    }
    
}